@font-face {
  font-family: "BioRhyme";
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@300;400&family=Dongle:wght@300&family=Handlee&family=Indie+Flower&family=Klee+One&family=Quicksand:wght@300&family=Titillium+Web&display=swap")
    format("woff");
}

@font-face {
  font-family: "BioRhyme";
  font-weight: 700;
  src: url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@300;400&family=Dongle:wght@300&family=Handlee&family=Indie+Flower&family=Klee+One&family=Quicksand:wght@300&family=Titillium+Web&display=swap")
    format("woff");
}
